@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

 
}


/* MENU INICIO */


.menu_items{
  
    display: inline-block;
    list-style: none;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    border-radius: 20em;
    font-size: 1.5em;
}
.menu_items li{
    display: inline-block;
    margin: 20px;
    

}

.menu_items li a{
    
    color: white;
    text-decoration: none;
    padding: 1em;
    transition: 0.5s;
   
}

.menu_items li a:hover{
    color:  rgb(210, 179, 214);
}


.menu{
    background-color: #23272A;
    color: white;
    border-radius: 20em;
    padding: 10px;
    width: 1150px;
    position: fixed;
    margin-top: 1px;
    margin-left: 400px;

}
.logo{
text-transform: uppercase;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 2em;
    padding: 10px;
    
 

}

.user_image{
    position: fixed;
    width: 80px;
    padding-left: 10px;
    padding-top: 10px;
    
}

.menu_mobile_img{
    opacity: 0;
    position: fixed;
    width: 100px;
    padding-left: 70px;
    padding-top: 30px;
}

.menu_movil{
    opacity: 0;
}

/* MENU FINAL */


.start_now{
    margin: 200px;
}
.titulo_nisse{
    text-transform: uppercase;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 5em;

}

.parrfo_titulo{
    padding-top: 40px;
    text-transform: uppercase;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 1em;
}
.boton_terminos{
  margin-top:30px ;
  padding: 15px;
   text-transform: uppercase;
   font-family: 'Atkinson Hyperlegible', sans-serif;
   font-size: 1em;
   background-color: 
   #5a509e;
   border-radius: 10px;
   width: 400px;
   transition: 0.3s;

}
.boton_terminos a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.boton_terminos a:hover{
    color: #222222;
}

.boton_terminos:hover{
    background-color: 
    #b1aae2;
   transition: 0.3s;
}
.img_terminos_initial{
    margin-top: -350px;
    margin-left: 700px;
    width: 500px;
}


header {
    width:100%;
    height: 150px;
    background: #fcb103;
    padding: 10px;
    margin: 0px;

        background: -webkit-linear-gradient(to right, rgb(210, 179, 214),  hsla(226, 17%, 66%, 0.664)), url(./img/amongtrees-2.jpg);
 
    background: linear-gradient(to right, rgb(200, 191, 235), hsla(226, 49%, 68%, 0.664)), url(./img/amongtrees-2.jpg);
    background-attachment: fixed;
    position: relative;
}

footer{
    width: 100%;
   
    position: relative;
    top: 550px;
    align-items: center;
    text-align: center;
    background-color:#222222;
    color: white;
    padding: 30px;
    
    font-family: 'Atkinson Hyperlegible', sans-serif;

}
.titulo_footer{
    text-align: left;
    text-transform: uppercase;
    font-weight: 1;
    font-size: 3em;
    color: rgb(93, 66, 245);
    font-family: 'Recursive', sans-serif;
}
.nombre_footer{
    position: absolute;
    left: 850px;
    margin-top: -40px;
}
footer a{
    font-size: 20px;
    font-weight: 1px;
    text-decoration: none;
    color: white;
}
.copy{
    font-size: 20px;
    font-weight: 1px;
    text-decoration: none;
    color: white;
    position: absolute;
    left: 1350px;
    margin-top: -40px;}

@media only screen and (max-width: 786px) {
  

    nav{
        position: fixed;
    }
    .menu_mobile_img{
        opacity: 100;
        position: absolute;
        top: -14px; left: 210px;
        display: block;
      
    }
  
    .menu{
      
   
    
        color: white;
         background-color: #23272A;
         height: 60px;
         width: 1px;
         border-radius: 100px;
         z-index: 0;
        padding: 10px;
        width: 400px;
        position: relative;
       left: -400px;
         padding: 10px;
         z-index: 0;
        
    }
    .menu_items{
       display: none;
    }
    .user_image{
      width: 50px;
        position: absolute;
        top: -1px; left: 295px;
        display: block;
    }

    .menu_toggle_complete{
    
        color: white;
         background-color: #23272A;
         height: 60px;
         width: 1px;
         border-radius: 100px;
         z-index: 0;
        padding: 10px;
        width: 400px;
        position: relative;
       left: -5px;
         padding: 10px;
         z-index: 0;
         

    }

    .logo_toggle{
        color: white;
        text-transform: uppercase;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 2em;
    padding: 1px;
    padding-left: 20px;
    padding-top: 10px;
    
    }

    .menu_toggle{
        padding: 0;
        padding-top: 0;
        flex-direction: column;
        height: 500px;
        font-family: 'Atkinson Hyperlegible', sans-serif;
        list-style: none;
        width: 100vw;
        height: 100%;
        z-index: 1;
        
      
    }
    .menu_toggle li{
        position: relative;
        top: 8px;
        width: 1000px;
        height: 100%;
        margin: 40px;
     


 
    }
    .menu_toggle li a{
        margin: 10px;
        text-decoration: none;
        color: #ffffff;
        padding-left: 100px;
        text-align: center;
        font-size: 1.5em;
      
    }
    .menu_toggle li a:hover{
        color: #caa46a;
        
    }

    .menu_button_id_toggle{
        transform: rotate(90deg);
        position: absolute;
        top: 15px; left: 270px;
        display: block;
       width: 30px;

    }

    .menu_toggle_complete:before{
        content: "";
        width: 387px;
        height: 600px;
        background-color: black;
        position: absolute;
        opacity: 0.5;
        border-radius: 10px;
        
    }

  /* FINAL MENU */

  .start_now{
    margin-top: 200px;
    margin-left: 20px;
}
.titulo_nisse{
    width: 100%;
    font-size: 2em;
    margin-left: 5px;
}

.parrfo_titulo{
    font-size: 15px;
    margin-left: 5px;
    width: 1000px;
}
.boton_terminos{
    
    margin-left: -10px;

}
.boton_terminos a{
    
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.boton_terminos a:hover{
    color: #222222;
}

.boton_terminos:hover{
    
    background-color: 
    #b1aae2;
   transition: 0.3s;
}

.img_terminos_initial{
    width: 300px;
    margin-top: 30px;
    margin-left: 70px;
}

header {
    width: 100%;
    height: 150px;
    background: #fcb103;
    padding: 10px;
    margin: 0px;

        background: -webkit-linear-gradient(to right, rgb(210, 179, 214),  hsla(226, 17%, 66%, 0.664)), url(./img/amongtrees-2.jpg);
 
    background: linear-gradient(to right, rgb(200, 191, 235), hsla(226, 49%, 68%, 0.664)), url(./img/amongtrees-2.jpg);
    background-attachment: fixed;
    position: relative;
}


footer{
    width: 100%;
  
    position: relative;
    top: 700px;
    align-items: center;
    text-align: center;
    background-color:#222222;
    color: white;
    padding: 30px;
    
    font-family: 'Atkinson Hyperlegible', sans-serif;

}
.titulo_footer{
    position: relative;
    left: 20px;
    text-transform: uppercase;
    font-weight: 1;
    font-size: 3em;
    color: rgb(93, 66, 245);
    font-family: 'Recursive', sans-serif;
    width: 100%;
}
.nombre_footer{
    position: relative;
    top: 60px;
    left: 10px;
 
    width: 100%;
    margin: 5px;
}
footer a{
    font-size: 20px;
    font-weight: 1px;
    width: 100%;
    text-decoration: none;
    color: white;
  
}
.copy{
   position: relative;

   left: 10px;
   top: -15px;
   width: 100%;
   margin: 5px;

}



}

